[submodule "3rd/raylib"]
	path = 3rd/raylib
	url = https://github.com/raysan5/raylib
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rd/rlImGui"]
	path = 3rd/rlImGui
	url = https://github.com/raylib-extras/rlImGui
